# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# generated source
**/lex.yy.c[p]*
**/lexer_core.h
**/lexer_core.cpp
**/parser_core.h
**/parser_core.cpp
**/Fluster.tab.c
